<nav class="navbar navbar-expand-md text-uppercase fixed-top bg-secondary" id="mainNav" style="opacity:0.7;">
    <div class="container">
        <a class="navbar-brand" href="#tricks">Snowtricks</a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ path('accueil') }}#tricks">Accueil</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ path('accueil') }}#home">Figures</a>
                </li>
                {% if isConnect == null %}
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ path('app_login') }}" >Se connecter</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ path('app_register') }}">S'inscrire</a>
                    </li>
                {% endif %}
                {% if isConnect %}
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>